body {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-columns: 150px 1fr 200px;
	height: 100vh;
	font-family: 'Noto Serif', serif;
	font-size: 12pt;
}



div#header {
	background-color: red;
	vertical-align: middle;
	background-color: #F5F5F5;
}

div#header > h1 {
	font-size: 1.5em;
	text-align: center;
	margin: 0;
	margin-top: 12px;
	color: #00008B;
}

div#menu {
	background-color: #F5F5F5;
	font-size: 11pt;
	font-family: 'Noto Sans', sans-serif;
}

div#main {
}

div#sidebar {
	background-color: #F5F5F5;
	display: grid;
	grid-template-rows: min-content;
	grid-row-gap: 0;
}

div#sidebar > div {
	margin: auto;
}

div.newsItem {
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-top: 0;
	/*background-color: #f9f9f9;*/
	border-bottom: 1px dotted gray;
}

div.newsItem:last-child {
	border: 0;
}

ul#menuList {
	list-style-type: none;
	margin-left: 2px;
	padding-left: 8px;
	padding-right: 10px;
	margin-top: 0;
}

ul#menuList > li {
	margin-bottom: 5px;
}

a.menuLink {
	color: black;
	text-decoration: none !important;
}

a.menuLink > span {
	display: block;
	border: 1px solid #bababa;
	border-radius: 3px;
	/*background-color: #f9f9f9;	*/
	background-color: white;
	color: black;
	padding: 4px;
}

a.menuLink > span:hover {
	border: 1px dotted gray;
	background-color: #bababa;
}